@import com.github.dmurvihill.eliberate.User
@import com.github.dmurvihill.eliberate.Motion
@import org.scalatra.forms.views._
@(user: User, motions: Iterable[Motion])(implicit request: javax.servlet.http.HttpServletRequest)

@layouts.html.default("E-Liberate demo org", "E-Liberate Demo"){
  <p>Hello, @(user.username)!</p>
  <h2>All Motions</h2>
  @for(motion <- motions) {
    <p><a href="/motion/@(motion.id)">Read</a> @(motion.title)</p>
  }
  <h2>Make a Motion</h2>
    <form action="/motion" method="POST">
    @Html(text("title"))
    @Html(textarea("text"))
    <input type="submit" value="Make Motion">
    </form>
}
